@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.menu {
    display: flex;
    width: 100%;
    height: 80px;
    color: #85889c;
    position: fixed;
    top: 0;
}

.menu li {
    flex-grow: 1;
}

.menu li a {
    background-color: #eaeaea;
    color: #000000;
    text-decoration: none;
    padding: 31px 80px;
    display: block;
    margin: 0%;
    text-align: center;
}

.menu li a:hover {
    background-color: rgb(165, 165, 165);
    color: rgb(255, 157, 0);
}

header label {
    display: none;
    width: 30%;
    height: 30px;
    padding: 10px;
    border-right: 1px solid rgb(63, 63, 63);
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0)
}

.menu ul {
    margin: 0%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: initial;
    justify-content: space-evenly;
    flex: 1;
}

.checkbtn {
    font-size: 20px;
    color: #000000;
    float: left;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
.video1 {
    width: 480px;
    height: 260px;
    border: 1px solid #323232;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 5%;
    margin-right: 0%;
}
/* SECCION DE STREAMING  */
.container-body__streaming-card{
  width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: auto;
}

.nav{
  width: 100%;
  position: sticky;
  top: 0;
}

.main-streaming{
    background-color: white;
    width: 100%;
    color: black;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-bottom: 60px;
  }
  
  .seccion-tarjetas{
    background-color: #EAEAEA;
    width: 90%;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    place-items: center;
      max-width: 1280px;
  }

 .seccion-tarjetas streaming-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
.main-streaming__imagen{
   display: block;
  width: 100%;
}
.main-streaming__imagen img{
    width: 100%;
    height: 300px;
}
.streaming-tarjetas{
  width: 250px;
  background-color: #EAEAEA;
  margin: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.streaming-tarjetas__caja{
  width: 100%;
}

.streaming-tarjetas__caja a{
  text-decoration: none;
  color: black;
  text-align: center;
  height: 100%;
}

.imagen-streaming{
  border-radius: 20px;
}

  

  /* FORMULARIOS */
  
.body-form{
  width: 100%;
  display: flex;
  flex-direction: column;  
}

  

/*Responsivo para tablets*/
@media screen and (max-width: 930px){
  .container-body__streaming-card{
    width: 100%;
    
  }

  .main-streaming{
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .nav{
    width: 100%;
    align-self: center;
  }

  .seccion-tarjetas{
    background-color: #EAEAEA;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    grid-template-columns: repeat(2, 1fr); 
    place-items: center;
    align-self: flex-start;
  }

    

  .contenedor-tarjeta{
    width: 100%;
    height: 100vh;
    margin: 10px;
    padding: 0px;
  }

  .correccion-netflix{
    width: 90%;
    height: auto;
    background: none;
    display: flex;
    flex-direction: column;
    margin-top: 40px ;
  }

  .video1 {
    width: 350px;
    height: 200px;
    border: 3px solid #fff;
    border-radius:10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: auto;
    margin-right: auto;
    margin: 25px 0;
}

.text-center{
  background: none;
}
  



/*Responsivo para movil*/
@media screen and (max-width: 630px) {
  /* SECCION DE STREAMING RESPONSIVO */
 .container-body__streaming-card{
    width: 100%;
   
  }

.main-streaming{
    background-color: white;
    width: 100%;
    color: black;  
  }
  
  .seccion-tarjetas{
    background-color: #EAEAEA;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    grid-template-columns: repeat(1, 1fr); 
    place-items: center;
  }
  
  .section-orden__caja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  
  .streaming-tarjetas{
    width: 250px;
    background-color: #EAEAEA;
    margin: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  
  .streaming-tarjetas__caja{
    width: 100%;
  }
  
  .streaming-tarjetas__caja a{
    text-decoration: none;
    color: black;
    text-align: center;
    height: 100%;
  }
  
  .imagen-streaming{
    border-radius: 20px;
  }



  .menu {
      height: auto;
  }

  .menu ul {
      flex-direction: column;
  }

  .video1 {
      width: 240px;
      height: 140px;
      border: 3px solid #fff;
      border-radius:10px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      margin-top: auto;
      margin-right: auto;
      margin: 25px 0;
  }

  .container1 {
      flex-direction: column-reverse;
      padding-bottom: 4en;
  }

  .container2,
  .container3 {
      text-align: center;
      margin-top: 10%;
  }
  .finaldepagina .grupo1{
      width: 90%;
      grid-template-columns:repeat(1,1fr);
      grid-gap: 10px;
      padding: 30px 0;
  }
  .finaldepagina .grupo1 .box figure{
      width: 100%;
      grid-template-columns:repeat(1,1fr);
      grid-gap: 30px;
      padding: 35px 0;
      text-align: center;

  }
}}
/*Responsivo Final*/
