@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.menu {
    display: flex;
    width: 100%;
    height: 80px;
    color: #85889c;
    position: fixed;
    top: 0;
}

.menu li {
    flex-grow: 1;
}

.menu li a {
    background-color: #eaeaea;
    color: #000000;
    text-decoration: none;
    padding: 31px 80px;
    display: block;
    margin: 0%;
    text-align: center;
}

.menu li a:hover {
    background-color: rgb(165, 165, 165);
    color: rgb(255, 157, 0);
}

header label {
    display: none;
    width: 30%;
    height: 30px;
    padding: 10px;
    border-right: 1px solid rgb(63, 63, 63);
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0)
}

.menu ul {
    margin: 0%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: initial;
    justify-content: space-evenly;
    flex: 1;
}

.checkbtn {
    font-size: 20px;
    color: #000000;
    float: left;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
.video1 {
    width: 480px;
    height: 260px;
    border: 1px solid #323232;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 5%;
    margin-right: 0%;
}
/* SECCION DE STREAMING  */
.main-streaming{
    background-color: white;
    width: 100%;
    color: black;  
  }
  
  .seccion-tarjetas{
    background-color: #EAEAEA;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .section-orden__caja{
    display: flex;
    justify-content: center;
  }
  

  .main-streaming__titulo{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-streaming__titulo img{
    padding-top: 30px;
  }
  
  .main-streaming__encabezado h4{
    text-align: center;
  }
  
  .streaming-tarjetas{
    width: 250px;
    background-color: #EAEAEA;
    margin: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  
  .streaming-tarjetas__caja{
    width: 100%;
  }
  
  .streaming-tarjetas__caja a{
    text-decoration: none;
    color: black;
    text-align: center;
    height: 100%;
  }
  
  .imagen-streaming{
    border-radius: 20px;
  }
  
  /* FORMULARIOS */
  
  .main-form{
    background-color: white;
    color: white;
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-form h1{
    text-align: center;
    color: red;
  }
  
  .contenedor-tarjeta {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: white;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      margin: 20px;
      padding: 40px;
      width: 100%;
      border-radius: 20px;
  }
  
  .text-center{
    background-color: black;
    border-radius: 20px;
    padding: 30px;
  }
  
  /*  CADA UNO DE LOS FORMULARIOS DE STREAMING */
  /* Netflix */
    .formulario-tarjeta__Netflix{
    width: 90%;
    height: 80vh;
    background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    , url("Imagenes/portada-netflix.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    border: 20px solid red;
  }
  
  
  .correccion-netflix{
    background: black;
    width: 90%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .correccion-netflix h2{
    color: red;
    margin-bottom: 30px;
  }
  
  
  .correccion-netflix p {
      margin-bottom: 30px;
  }
  
  .correccion-netflix button {
      background-color: red;
      color: white;
      border: none;
      padding: 20px 30px;
      font-size: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s;
  }
  
  .correccion-netflix button:hover {
      background-color: #EF4040;
  }
  
  
  
  /*HBO*/
    .formulario-tarjeta__HBOMAX{
      width: 90%;
      height: 80vh;
      background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      )
      , url("Imagenes/portada-hbomax.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
     
      justify-content: center;
      border-radius: 30px;
      border: 20px solid #3D3B40;
    }
  
  
  #hbo-h1{
    color: black;
  }
  
  .correccion-hbo{
    width: 90%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .correccion-hbo h2{
    color: red;
    margin-bottom: 30px;
  }
  
  .correccion-hbo p {
      margin-bottom: 30px;
  }
  
  .correccion-hbo button {
      background-color: red;
      color: white;
      border: none;
      padding: 20px 30px;
      font-size: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s;
  }
  
  .correccion-hbo button:hover {
      background-color: #424769;
  }
  
  
  
  .correccion-hbo button{
    background-color: gray;
  }
  
  
  /* DISNEY PLUS  */
  .formulario-tarjeta__DISNEYPLUS{
    width: 90%;
    height: 80vh;
    background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    , url("Imagenes/portada-disney.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    border-radius: 30px;
    border: 20px solid darkblue;
  }
  
  
  #hbo-h1{
  color: black;
  }
  
  .correccion-disney{
    
    width: 90%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .correccion-disney h2{
  color: red;
  margin-bottom: 30px;
  }
  
  
  .correccion-disney p {
    margin-bottom: 30px;
  }
  
  .correccion-disney button {
    background-color: red;
    color: white;
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .correccion-disney button:hover {
    background-color: #1862d2;
  }
  
  .correccion-disney button{
  background-color: blue;
  }
  
  /* PLEX TV  */
  .formulario-tarjeta__PLEXTV{
    width: 90%;
    height: 80vh;
    background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    , url("Imagenes/portada-plextv.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    border-radius: 30px;
    border: 20px solid #F79327;
  }
  
  #hbo-h1{
  color: black;
  }
  
  .correccion-plextv{
    
    width: 90%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .correccion-plextv h2{
  color: red;
  margin-bottom: 30px;
  }
  
  .correccion-plextv p {
    margin-bottom: 30px;
  }
  
  .correccion-plextv button {
    background-color: red;
    color: white;
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .correccion-plextv button:hover {
    background-color: #FB8B24;
  }
  
  .correccion-plextv button{
  background-color: #F79327;
  }
  
  /* PARAMOUNT  */
  .formulario-tarjeta__PARAMOUNT{
    width: 90%;
    height: 80vh;
    background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    , url("Imagenes/portada-paramount.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    border-radius: 30px;
    border: 20px solid blue;
  }
  
  #hbo-h1{
  color: black;
  }
  
  .correccion-paramount{
  
    width: 90%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .correccion-paramount h2{
  color: red;
  margin-bottom: 30px;
  }
  
  .correccion-paramount p {
    margin-bottom: 30px;
  }
  
  .correccion-paramount button {
    background-color: red;
    color: white;
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .correccion-paramount button:hover {
    background-color: darkblue;
  }
  
  .correccion-paramount button{
  background-color: blue;
  }
  
  /* APPLE TV  */
  .formulario-tarjeta__APPLETV{
    width: 90%;
    height: 80vh;
    background-image: linear-gradient(
    0deg,
    rgb(0, 0, 0),
    rgb(0, 0, 0)
    )
    , url("Imagenes/portada-appletv.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    border-radius: 30px;
    border: 20px solid gray;
  }
  
  #hbo-h1{
  color: black;
  }
  
  .correccion-appletv{
   
    width: 90%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .correccion-appletv h2{
  color: red;
  margin-bottom: 30px;
  }
  
  .correccion-appletv p {
    margin-bottom: 30px;
  }
  
  .correccion-appletv button {
    background-color: red;
    color: white;
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .correccion-appletv button:hover {
    background-color: #4F4A45;
  }
  
  .correccion-appletv button{
  background-color: gray;
  }
  
  /* CRUNCHYROLL   */
  .formulario-tarjeta__CRUNCHYROLL{
    width: 90%;
    height: 80vh;
    background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    , url("Imagenes/portada-crunchyroll.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    border: 20px solid orange;
  }
  
  #hbo-h1{
  color: black;
  }
  
  .correccion-crunchyroll{
  
    width: 90%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .correccion-crunchyroll h2{
  color: red;
  margin-bottom: 30px;
  }
  
  .correccion-crunchyroll p {
    margin-bottom: 30px;
  }
  
  .correccion-crunchyroll button {
    background-color: red;
    color: white;
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .correccion-crunchyroll button:hover {
    background-color: #FF5B22;
  }
  
  .correccion-crunchyroll button{
  background-color: orange;
  }
  
  /* STARPLUS*/
  .formulario-tarjeta__STARPLUS{
    width: 90%;
    height: 80vh;
    background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    , url("Imagenes/portada-starplus.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    border-radius: 30px;
    border: 20px solid #392467;
  }
  
  #hbo-h1{
  color: black;
  }
  
  .correccion-starplus{
    width: 90%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .correccion-starplus h2{
  color: red;
  margin-bottom: 30px;
  }
  
  
  .correccion-starplus p {
    margin-bottom: 30px;
  }
  
  .correccion-starplus button {
    background-color: red;
    color: white;
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .correccion-starplus button:hover {
    background-color: #1862d2;
  }
  
  .correccion-starplus button{
  background-color: #392467;
  }
  
  /* Youtube Premium */
  .formulario-tarjeta__YOUTUBE{
    width: 90%;
    height: 80vh;
    background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    , url("Imagenes/portada-youtube.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    border: 20px solid red;
  }
  
  #hbo-h1{
  color: black;
  }
  
  .correccion-youtube{ 
    width: 90%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .correccion-youtube h2{
  color: red;
  margin-bottom: 30px;
  }
  
  .correccion-youtube p {
    margin-bottom: 30px;
  }
  
  .correccion-youtube button {
    background-color: red;
    color: white;
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .correccion-youtube button:hover {
    background-color: #900C3F;
  }
  
  .correccion-youtube button{
  background-color: red;
  }
  
  /*  SPOTIFY */
  .formulario-tarjeta__SPOTIFY{
    width: 90%;
    height: 80vh;
    background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    , url("Imagenes/portada-hbomax.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    border-radius: 30px;
    border: 20px solid green;
  }
  
  #hbo-h1{
  color: black;
  }
  
  .correccion-spotify{
    width: 90%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .correccion-spotify h2{
  color: red;
  margin-bottom: 30px;
  }
  
  .correccion-spotify p {
    margin-bottom: 30px;
  }
  
  .correccion-spotify button {
    background-color: red;
    color: white;
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .correccion-spotify button:hover {
    background-color: #064635;
  }
  
  .correccion-spotify button{
  background-color: green;
  }
  
  /*  PORNHUB */
  .formulario-tarjeta__PORNHUB{
    width: 90%;
    height: 80vh;
    background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    , url("Imagenes/portada-hbomax.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  
    justify-content: center;
    border-radius: 30px;
    border: 20px solid #FFA33C;
  }
  
  #hbo-h1{
  color: black;
  }
  
  .correccion-pornhub{
    
    width: 90%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .correccion-pornhub h2{
  color: red;
  margin-bottom: 30px;
  }
  
  .correccion-pornhub p {
    margin-bottom: 30px;
  }
  
  .correccion-pornhub button {
    background-color: red;
    color: white;
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .correccion-pornhub button:hover {
    background-color: #FF5403;
  }
  
  .correccion-pornhub button{
  background-color: #FFA33C;
  }
  
  /*  IPTV */
  .formulario-tarjeta__IPTV{
  
    width: 90%;
    height: 80vh;
    background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    , url("Imagenes/portada-iptv.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  
    justify-content: center;
    border-radius: 30px;
    border: 20px solid #7360DF;
  }
  
  #hbo-h1{
  color: black;
  }
  
  .correccion-iptv{
    
    width: 90%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .correccion-iptv h2{
  color: red;
  margin-bottom: 30px;
  }
  
  
  .correccion-iptv p {
    margin-bottom: 30px;
  }
  
  .correccion-iptv button {
    background-color: red;
    color: white;
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .correccion-iptv button:hover {
    background-color: #0F2C67;
  }
  
  .correccion-iptv button{
  background-color: blue;
  }
  /*Footer de pagina*/
.finaldepagina{
    width: 100%;
    background-color: #919090 ;
}
.finaldepagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin-top: 30%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 100px;
    padding: 45px 0px;
    
}
.finaldepagina .grupo1 .box figure{
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;
}
.finaldepagina .grupo1 .box figure img{
    width: 110px;
    height: 80px;
}
h5{
    font-size: 16px;
}
.finaldepagina .grupo1 .redessociales{
    width: 68px;
    height: 100px;
    line-height:45px;
    color: #000000;
    text-align: center;
    transition: all 300ms ease;
}
.finaldepagina .grupo1 .redessociales a:hover{
    color: black;
}
.finaldepagina .grupo2{
    text-align:center;
    padding: 15px 10px;
    color: #000000
}
.finaldepagina .grupo2 small{
    font-size: 15px;
}
/*footerfinal*/
/*Responsivo para movil*/
@media screen and (max-width: 431px) {
  /* SECCION DE STREAMING RESPONSIVO */

.main-streaming{
    background-color: white;
    width: 100%;
    color: black;  
  }
  
  .seccion-tarjetas{
    background-color: #EAEAEA;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .section-orden__caja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .main-streaming__titulo h1{
    text-align: center;
    padding-top: 30px;
  }
  
  .main-streaming__encabezado h4{
    text-align: center;
  }
  
  .streaming-tarjetas{
    width: 250px;
    background-color: #EAEAEA;
    margin: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  
  .streaming-tarjetas__caja{
    width: 100%;
  }
  
  .streaming-tarjetas__caja a{
    text-decoration: none;
    color: black;
    text-align: center;
    height: 100%;
  }
  
  .imagen-streaming{
    border-radius: 20px;
  }
  
  /* FORMULARIOS RESPONSIVOS */
  
  

  .main-form{
    width: 100%;
  }
  
  .contenedor-tarjeta{
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
  .text-center{
    background: none;
  }
  
    /* NETFLIX */
.formulario-tarjeta__Netflix{
  width: 100%;
  border: 10px solid red;
  border-radius: 10px
}
  
  .correccion-netflix{
    width: 90%;
    background: none;
    display: flex;
    flex-direction: column;
    margin: auto
  }
  
    /* HBO */
  
.formulario-tarjeta__HBOMAX{
  width: 100%;
  border: 10px solid red;
  border-radius: 10px
}
  
  .correccion-hbo{
    width: 90%;
    background: none;
    display: flex;
    flex-direction: column;
    margin: auto
  }
  
  /* DISNEY PLUS*/
.formulario-tarjeta__DISNEYPLUS{
  width: 100%;
  border: 10px solid red;
  border-radius: 10px
}
  
  .correccion-disney{
    width: 90%;
    background: none;
    display: flex;
    flex-direction: column;
    margin: auto
  }
  
  /* PLEX TV*/

.formulario-tarjeta__PLEXTV{

  width: 100%;
  border: 10px solid red;
  border-radius: 10px
}
  
  .correccion-plextv{
    width: 90%;
    background: none;
    display: flex;
    flex-direction: column;
    margin: auto
  }

/* APPLE TV*/

.formulario-tarjeta__APPLETV{

  width: 100%;
  border: 10px solid red;
  border-radius: 10px
}
  
  .correccion-appletv{
    width: 90%;
    background: none;
    display: flex;
    flex-direction: column;
    margin: auto
  }  
  
/* Crunchyroll*/

.formulario-tarjeta__CRUNCHYROLL{

  width: 100%;
  border: 10px solid red;
  border-radius: 10px
}
  
  .correccion-crunchyroll{
    width: 90%;
    background: none;
    display: flex;
    flex-direction: column;
    margin: auto
  }    
  
  /* Spotify*/

.formulario-tarjeta__SPOTIFY{

  width: 100%;
  border: 10px solid red;
  border-radius: 10px
}
  
  .correccion-spotify{
    width: 90%;
    background: none;
    display: flex;
    flex-direction: column;
    margin: auto
  }    
  
  /* Youtube premium*/
  
  .formulario-tarjeta__YOUTUBE {
  
    width: 100%;
    border: 10px solid red;
    border-radius: 10px
  }
  
  .correccion-youtube {
    width: 90%;
    background: none;
    display: flex;
    flex-direction: column;
    margin: auto
  }

/* PORNHUB*/
.formulario-tarjeta__PORNHUB {
  
    width: 100%;
    border: 10px solid red;
    border-radius: 10px
  }
  
  .correccion-pornhub {
    width: 90%;
    background: none;
    display: flex;
    flex-direction: column;
    margin: auto
  }
  
/* IPTV*/

.formulario-tarjeta__IPTV {

  
    width: 100%;
    border: 10px solid red;
    border-radius: 10px
  }
  
  .correccion-iptv {
    width: 90%;
    background: none;
    display: flex;
    flex-direction: column;
    margin: auto
  }

/* PARAMOUNT*/
.formulario-tarjeta__PARAMOUNT {

  width: 100%;
  border: 10px solid red;
  border-radius: 10px
}

.correccion-paramount{
  width: 90%;
  background: none;
  display: flex;
  flex-direction: column;
  margin: auto
}
  
/* STAR PLUS */
.formulario-tarjeta__STARPLUS {

  width: 100%;
  border: 10px solid red;
  border-radius: 10px
}

.correccion-starplus{
  width: 90%;
  background: none;
  display: flex;
  flex-direction: column;
  margin: auto
}
  


    .menu {
        height: auto;
    }

    .menu ul {
        flex-direction: column;
    }

    .video1 {
        width: 240px;
        height: 140px;
        border: 3px solid #fff;
        border-radius:10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        margin-top: auto;
        margin-right: auto;
        margin: 25px 0;
    }

    .container1 {
        flex-direction: column-reverse;
        padding-bottom: 4en;
    }

    .container2,
    .container3 {
        text-align: center;
        margin-top: 10%;
    }
    .finaldepagina .grupo1{
        width: 90%;
        grid-template-columns:repeat(1,1fr);
        grid-gap: 10px;
        padding: 30px 0;
    }
    .finaldepagina .grupo1 .box figure{
        width: 100%;
        grid-template-columns:repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0;
        text-align: center;

    }

/*Responsivo Final*/
}