<style>
  * {
    margin: 0;
    padding: 0;
  }

  .streaming-card {
    width: 225px;
    background-color: #EAEAEA;
    margin: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  
  .streaming-card__box {
    width: 100%;
  }
  
  .streaming-card__box a {
    text-decoration: none;
    color: black;
    text-align: center;
    height: 100%;
  }

  .streaming-image {
    border-radius: 20px;
  }

 .streaming-image:hover{
        transform:scale(1.1);
        filter: opacity(10);
        transition: 0.3s;

    }
 
</style>
<div class="streaming-card">
  <div class="streaming-card__box">
    <a id="card-link" href="#">
      <div>
        <img id="card-image" src="#" alt="card-image" width="225px" class="streaming-image">
        <div>
          <h3 id="card-text">TEXT</h3>
        </div>
      </div>
    </a>
  </div>
</div>
