<style>
    * {
      margin: 0;
      padding: 0;
    }
  
    .streaming-cardcombo {
      width: 250px;
      background-color: #EAEAEA;
      margin: 30px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
    }
    
    .streaming-card__box {
      width: 100%;
    }
    
    .streaming-cardcombo__box a {
      text-decoration: none;
      color: black;
      text-align: center;
      height: 100%;
    }
  
    .streamingcombo-image {
      border-radius: 20px;
    }
    .streamingcombo-image:hover{
        transform:scale(1.1);
        filter: opacity(10);
        transition: 0.3s;

    }
  </style>
  <div class="streaming-cardcombo">
    <div class="streaming-cardcombo__box">
      <a id="cardcombo-link" href="#">
        <div>
          <img id="cardcombo-image" src="#" alt="cardcombo-image" width="250px" class="streamingcombo-image">
          <div>
            <h3 id="cardcombo-text">TEXT</h3>
          </div>
        </div>
      </a>
    </div>
  </div>